
body{
    margin: 0;
    padding: 0;
}
.banner img{
    max-width: 100%;
    left: 0;
    /* max-height: 700px; */
}
header{
    /* position: fixed; */
    /* z-index: 1; */
    background-color: white;
    max-width: 100%;
    width:1500px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.mobileheader{
    display: none;
}
.mobileservice{
    display: none;
}
.mobileours{
    display: none;
}
.mobilesubfoot{
    display: none;
}
nav.mainNav{
    margin: 5px;
    padding: 5px;
}
.links{
    float: right;
    margin:20px;
    padding: 20px;
}


header a:link{
    text-decoration: none;
    color: steelblue;
    margin: 10px;

}
header a:visited{
    color: steelblue;
}
div.dropdown{
    display: none;
}
section h1{
    color: steelblue;
    text-align: center;
    margin: 50px;
    padding: 30px;
}
.well{
    display: flex;
    max-width: 1000px;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: rgb(247, 243, 243);
}
.welltwo img{
    max-height: 300px;
}
.wellone{
    color: steelblue;
    margin-top: 50px;
    padding: 30px;
}
section div{
    color: slategray;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}

main{
    max-width: 100%;
    width:1500px;
}
main h1{
    color: steelblue;
    text-align: center;
    margin: 90px,50px;
    padding: 60px,30px;
}
.about{
    display: flex;
    max-width: 1000px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: steelblue;
}
.about img{
    max-width: 500px;
    max-height: 500px;
}
.abouttwo{
    color: whitesmoke;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.welcome{
    display: none;
}
.spread{
    border: steelblue;
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: auto;
}
div.spread div.one{
    background-color: rgb(79, 134, 179);
    border-radius: 20px;
    min-width: 200px;
    color: white;
    text-align: center;
    margin: 5px;
    padding:10px;
}
div.two{
    min-width: 200px;
    text-align: center;
    color: steelblue;
    max-width: 200px;
    padding: 10px;
}

div.three{
    background-color: rgb(79, 134, 179);
    border-radius: 20px;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 10px;
}
div.four{
    min-width: 200px;
    text-align: center;
    color: steelblue;
    max-width: 200px;
    padding:10px;

    
}

div.five{
    background-color: rgb(79, 134, 179);
    min-width: 200px;
    text-align: center;
    color: white;
    border-radius: 20px;
    margin: 5px;
}
main div.join{
    text-align: center;
    /* margin: 50px; */
    padding:30px;background-color: rgb(241, 245, 250);
    margin-top: 40px;
    
}
main div.join h2{
    color: steelblue;
    margin: 20px;
    padding: 20px;
}
main div.join h2 div{
    font-size: 20px;
}
main div.join a{
    background-color: steelblue;
    color: white;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    border-radius: 25px;
}
.join a:visited{
    color: white;
}
.join div{
    color: slategray;
    font-weight: lighter;
    font-size: 15px;
}

div.subFooterRow{
    display: flex;
    background-color: rgb(1, 19, 34);
    color: whitesmoke;
    padding-left:80px;
    padding-right: 80px;
    padding-top: 20px;
    
}
div.column{
    flex: 25%;

}
.subFooterRow a{
    color:whitesmoke;
    text-decoration: none;
}
span.visit{
    font-weight: bold;
    font-size: 20px;
}

footer{
    background-color: #052e50;
    color: white;
}
footer span{
    font-weight: bold;
}
@media screen and (max-width: 800px) {
   header{
       display: none;
   } 
   .mobileheader{
       display: flex;
       color:steelblue;
       background-color: whitesmoke;
       padding: 20px;
       font-weight: bolder;
       justify-content:space-between;
       
       
   }
   .mobileheader a{
       color: steelblue;
       text-decoration: none;
   }
   .well{
       display: none;
   }
   .mobileservice{
       display: block;
       background-color: #e8f5fb;
       padding: 30px;
       color: steelblue;
       font-weight: bolder;
       font-size: large;
   }
   main{
       display: none;
   }
   .welcome{
       display:block;
       padding:20px;
       background-color: #6dafcf;
       color: whitesmoke;
   }
   .welcome a{
       background-color: steelblue;
       color: whitesmoke;
       padding:10px;
       border-radius: 20px;
       text-decoration: none;
       margin-top:20px;
       
   }
   .mobileours{
       display: block;
       margin-left: 30px;
       margin-right: 0px;

   }
   .mobileours img{
       max-width: 350px;
       padding: 10px;
       padding-right: 0px;
   }
   div.subFooterRow{
       display: none;
   }
   .mobilesubfoot{
       display: block;
   }
   .con{
       display: flex;
   }
   .mobilesubfoot span.loud{
       font-size: larger;
       font-weight: bolder;
   }
   .mobilesubfoot span.low{
       font-weight: bolder;
   }
   .mobilesubfoot .lo{
    background-color: #0e638a;
    color: whitesmoke;
    padding: 10px;
   }
   .co{
       background-color: #3682a4;
       color: whitesmoke;
       padding:10px;
   }
   .co a{
       text-decoration: none;
       color:whitesmoke;
   }
   .call{
       padding-right:30px ;
   }
   footer{
       background-color: #044664;
   }
}